<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" href="/lib/bootstrap5/dist/css/bootstrap.css">
    <title>EnqueteWeb :: Obrigado</title>
</head>
<body>
<h1>EnqueteWeb!</h1>
<h4>Obrigado por responder!</h4>
<a asp-action="Index" class="btn btn-primary">Voltar ao Início</a> | 
<a asp-action="Resultado" class="btn btn-primary">Ver resultados parciais</a>
<div>

</div>
</body>
</html>