@model System.Collections.Generic.IEnumerable<EnqueteWeb.Models.Resposta>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" href="/lib/bootstrap5/dist/css/bootstrap.css">
    <title>EnqueteWeb :: Resultado Parcial</title>
</head>
<body>
<div>
    <h1>EnqueteWeb!</h1>
    <h2>Resultado Parcial</h2>
    <h4>Você teria coragem de fazer uma viagem sem volta para Marte?</h4>
    @foreach (Resposta r in Model)
    {
        <p>@(r.Nome): @(r.Sim.Value ? "Sim" : "Não")</p>
    }
    <p>
        <a asp-action="Index" class="btn btn-primary">Voltar ao Início</a>
    </p>
</div>
</body>
</html>